# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.png
*.md
*.rar
*.zip
*.uvprojx
*.uvprojx
SPDU/bsp/stm32/stm32f407-atk-explorer/project.uvprojx
SPDU/bsp/stm32/stm32f407-atk-explorer/project.uvprojx
*.bin
*.bin
