<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="D:\RT-ThreadStudio\workspace\SI-GW\Debug\rtthread.bin" SAVEFILE="C:\Users\Administrator\Desktop\rtthread.rbl" COMPRESS="3" CRYPT="0" KEY="" IV="" NAME="app" VERSION="1.04" />
</configuration>